.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: #404040;
}
.submitBtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
}
.socialContainer {
  display: flex;
  flex-wrap: wrap;
}
.link {
  object-fit: cover;
  height: 3rem;
  margin: 0 0.75rem;
}
